[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = ">=2.1"
django-imagekit = "*"
django-filter = "*"
djangorestframework = "*"
pymysql = "*"
pillow = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-allauth = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
